:root {
  --font-family: Monospace, sans-serif;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #fff8e7;
}

html,
body {
  height: 100%;
}

.container {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

#canvas {
  border: 1px solid black;
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 90px;

  button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.buttons button {
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid;
  margin-bottom: 10px;
  padding: 10px;
  font-family: var(--font-family);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
}

#reset {
  margin-top: 100px;
  color: red;
  border-color: black;
}

.red {
  border-color: red;
  color: red;
}
.orange {
  border-color: orange;
  color: orange;
}
.yellow {
  border-color: gold;
  color: gold;
}
.green {
  border-color: green;
  color: green;
}
.blue {
  border-color: blue;
  color: blue;
}
.indigo {
  border-color: indigo;
  color: indigo;
}
.violet {
  border-color: violet;
  color: violet;
}
